%p#notice= notice

%table.table.table-striped
  %tr
    / %th Sn
    %th 客戶
    %th 當時身分
    %th 原始價格
    / %th Book
    %th 折扣價格
  %tr
    %td= @order.customer.name
    %td= @order.role
    %td= @order.original_amount
    %td= @order.actual_amount

%table.table.table-striped
  %tr
    / %th Sn
    %th 書名
    %th 原始價格
    / %th Book
    %th 可否折扣

  - @order.books.each do |book|
    %tr
      %td= book.name
      %td= book.price
      %td= book.sale_type
      %br


/ # =link_to 'Back', orders_path