%tr{id: "book_id_#{book.id}"}
  / %td= book.id
  %td= book.name
  %td= book.isbn
  %td= book.sn
  %td= book.price
  %td= book.author
  %td= book.sale_type
  / %td= book.category
  / %td= book.release_date
  / %td= book.location
  / %td= book.comment
  %td
    = link_to 'Show', book
    = link_to 'Edit', edit_book_path(book)
    = link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }, remote: true