/ show form errors

/ %p#msg_p
/ #form_error.alert

%h1 書籍列表
%ul
  - @book.errors.full_messages.each do |msg|
    %li= msg

%p
= form_tag book_search_path, :method => :get, remote: true do
  %p
    = text_field_tag :query, params[:query], | 
    :placeholder => "書名, 作者, ISBN"
    = submit_tag "搜尋"

- if @existed_books
  = will_paginate @existed_books, :previous_label => '上頁', :next_label => '下頁',:page_links => true , :id => 'all_books_pagination'

%table#found_books_table.table
  / %th id
  %th 書名
  %th ISBN
  %th 入庫序號
  %th 價格
  %th 作者
  %th 銷售種類
  / %th category
  / %th release_date
  / %th location
  / %th comment

  %th 功能

  #books.books
    = render @existed_books
%br/